<footer class="footer">
	<a class="footer_link" onclick="location.href=htmlConfig.creditsPath">Credits</a>
    <a class="footer_link" href="https://discord.gg/RTPATnD7ke">Discord</a>
</footer>


<style>
    @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
      font-family: "Be Vietnam Pro", sans-serif;
}


 .footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgb(41, 41, 41);
	color: white;
    padding: 1rem;
    z-index: 20;

}

.footer_link {
    color: white;
    text-decoration: none;
    margin-right: 5rem;
    margin-left: 5rem;    
    border-radius: 5rem;
    padding: 1rem 1rem;
}
.footer_link:hover {
    background-color: rgb(65, 65, 65);

}
</style>