
<script src="/assets/js/gams.js" is:inline></script>
<script src="/chemical.js" is:inline></script>
<br><br><br><br><br>
<div class="g-icons" id="g-icons"> <!--Games put here by /gams.js--></div>
<style>
    * {
        color: white;
    }
    .g-icons {
        display: flex;
        height: 100vh;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }
</style>
