<style>
    * { 
       white-space: nowrap;
       display: inline;
    }
    .sgame {
        color: white;
        background-color: transparent transparent transparent;
        margin-top: 10vh; /*Hope this scales lol */
        height: 20vh;
        width: 15vw;
        position: relative;
    }
    .sgame img:hover {
        height: 21vh;
        width: 16vw;
    }
    .sgame h1:hover {
        color: gray;
    }

    .sgame img {
        height: 20vh;
        width: 15vw;
    }
    .sgame h1 {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .sgame a {
        color: white;
    }
</style>

<div class="sgame">
<a href="https://slope.ee">
    <h1>Slope.ee</h1>
<img
src="https://slope.ee/wp-content/uploads/sites/13/2023/09/cropped-uJn2i9h7KxYQarC_c3K4qH6o7gLtflFn-32x32.png"
/>
</a>

</div>

<div class="sgame">
    <a href="https://slope.ee">
        <h1>Slope.ee</h1>
    <img
    src="https://slope.ee/wp-content/uploads/sites/13/2023/09/cropped-uJn2i9h7KxYQarC_c3K4qH6o7gLtflFn-32x32.png"
    />
    </a>
    
    </div>
                                                                                                                                                                                                                                                                        