<script src="/config.js" is:inline></script>

<header class="header" >
    <a class="header_home" href="/"><img src="/assets/img/home.png" height="2%" width="2%"></img></a>
    <a class="header_link" onclick="location.href=htmlConfig.gamesPath"id="link_games">
        <img src="/assets/img/game.png" height="2%" width="2%"></img>
    </a>
    <a class="footer_link" onclick="location.href=htmlConfig.settingsPath"><img src="/assets/img/settings.png" height="2%" width="2%"></img></a>
</header>
<br><br><br><br>


<style>
/**Thanks nobodycares_io for the css (im terrible at making this look decent)*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
      font-family: "Be Vietnam Pro", sans-serif;
}

.header_home { 
    margin-right: 42vw;
    color: white;
    
}
.header {
    font-family: Helvetica, sans-serif, Arial;
    position: fixed;
	width: 100%;
	background-color: rgb(41, 41, 41);
	color: white;
    left: 0;
    padding: 1rem;
    top: 0;
    z-index: 20;
    align-items: center;
}
.header_link {
    color: white;
    text-decoration: none;
    border-radius: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
</style>